<app-heading-divider>Placeholder demo</app-heading-divider>
<app-placeholder [includeHeader]="true" [linesAmount]="4"></app-placeholder>
<div class="ui hidden divider"></div>
<app-heading-divider>Segment demo</app-heading-divider>
<app-segment>
    <header>
        <i class="pdf file outline icon"></i>
        No documents are listed for this customer.
    </header>
    <div class="ui primary button">Add Document</div>
</app-segment>
<div class="ui hidden divider"></div>
<app-heading-divider>Other segment</app-heading-divider>
<app-segment>
    <header>
        <i class="add icon"></i>
        Add stuff
    </header>
    <div class="ui primary button">Submit stuff</div>
</app-segment>
<div class="ui hidden divider"></div>