<div class="container">
  <form (ngSubmit)="onSubmit()" #emailForm="ngForm">
    <div class="field">
      <label class="label">Enter Email</label>
      <input [ngClass]="{'is-danger': emailControl.invalid && emailControl.touched}" class="input"
        #emailControl="ngModel" type="email" pattern=".+@.+\..+" name="email" [(ngModel)]="email" required />
      <ng-container *ngIf="emailControl.invalid && emailControl.touched">
        <div class="help is-danger" *ngIf="emailControl?.errors?.required">
          You must enter an email
        </div>
        <div class="help is-danger" *ngIf="emailControl?.errors?.pattern">
          Please enter a valid email
        </div>
      </ng-container>
    </div>
    <button class="button is-primary" [disabled]="emailControl.invalid">Submit</button>
  </form>
</div>

<router-outlet></router-outlet>