<app-heading-divider>Table demo</app-heading-divider>
<app-table [data]="data" [headers]="headers" tableClasses="celled striped"></app-table>
<div class="ui divider hidden"></div>
<app-heading-divider>Menu demo</app-heading-divider>
<app-menu>
    <a [routerLink]="['./']" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact:true}">
        Biography
    </a>
    <a [routerLink]="['company']" routerLinkActive="active" class="item">
        Company
    </a>
    <a [routerLink]="['partners']" routerLinkActive="active" class="item">
        Partners
    </a>
</app-menu>